* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

main {
  height: calc(100vh - 4rem);
  aspect-ratio: 9/16;
  background-color: black;
  background-image: url("/img/bg.JPG");
  margin: auto;
  position: relative;
  background-size: contain;
  animation: bg-movement 0.3s steps(3) infinite;
}

@keyframes bg-movement {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px -120px;
  }
}

.score {
  color: white;
  border: solid 1px white;
  width: 30%;
}

.legend {
  color: white;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-between;
  margin-top: 20px;
  border: solid 2px white;
}

.enemy {
  background-image: url("/img/white.png");
  width: 36px;
  height: 50px;
  position: absolute;
  animation: sprite-animation 0.3s steps(3) infinite;
}

#player {
  position: absolute;
  bottom: 30px;
  background-image: url("/img/black.png");

  background-repeat: no-repeat;
  width: 36px;
  height: 50px;

  animation: sprite-animation 0.3s steps(3) infinite;
}

@keyframes sprite-animation {
  0% {
    background-position: -368px -38px;
  }

  100% {
    background-position: -366px -230px;
  }
}

/* the start game screen */

h1 {
  font-size: 2rem;
}

/* start game, game lost and game won messages */
.message {
  position: absolute;
  color: dodgerblue;
  background-color: white;
  border-radius: 12px;
  border: solid 5px yellow;
  width: 20vw;
  height: auto;
  text-align: center;
  top: 30vh;
  left: 1.5vw;
  font-size: 0.8rem;
  z-index: 1;
}

button {
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  color: dodgerblue;
  border: solid 3px dodgerblue;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

#gooddog {
  background-image: url("/img/brown.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 60px;

  left: 50px;
  animation: good-dog-sprite 0.3s steps(3) infinite;
}

@keyframes good-dog-sprite {
  0% {
    background-position: -302px -36px;
  }

  100% {
    background-position: -302px -232px;
  }
}

#baddog {
  background-image: url("/img/brown.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 60px;

  left: 50px;
  animation: good-dog-sprite 0.3s steps(7) infinite;
}

@keyframes bad-dog-sprite {
  0% {
    background-position: -34px -44px;
  }

  100% {
    background-position: -32px -448px;
  }
}
